<%- include('../layout/admin/header.ejs') -%>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <br>
        <br>
        <br>
        <h1 class="card-title">Add Coupon</h1>
        <p class="card-description"> Add coupon form</p>
          <form action="/admin/addCoupon" id="form" class="forms-sample" method="post"  >  
            <div class="form-group">
                <label for="couponName">coupon Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name"  style="color: white;" required>
                <p style="color: red;" id="nameLengthError"></p>
            </div>
            <div class="form-group">
                <label for="CouponCode">Coupon Code</label>
                <input type="text" class="form-control" id="coupon" name="code" placeholder="code"  style="color: white;" required>
                <p style="color: red;" id="couponLengthError"></p>
                <% if (typeof error !== 'undefined') { %>
                  <p style="color: red;"><%= error %></p>
                <% } %>
            </div>
            <div class="form-group">
                <label for="discountAmount">Discount Amount</label>
                <input type="number" class="form-control" id="discount" name="discount" placeholder="discount amount"  style="color: white;" required>
                <p style="color: red;" id="discountError"></p>
            </div>
            <div class="form-group">
              <label for="avtivationDate">Activation Date</label>
              <input type="date" class="form-control" id="activationErr" name="activationDate" placeholder="activation date"  style="color: white;" required>
              <p style="color: red;" id="activationErr"></p>
            </div>
            <div class="form-group">
                <label for="expiry date">Expire Date</label>
                <input type="date" class="form-control" id="expiryDate" name="expiryDate" placeholder="expire date"  style="color: white;" required>
                <p style="color: red;" id="expirationErr"></p>
            </div>
            <div class="form-group">
                <label for="expiryDate">Criteria Amount</label>
                <input type="number" class="form-control" id="criteriaAmount" name="criteriAamount" placeholder="criteria amount"  style="color: white;" required>
                <p style="color: red;" id="criteriaAmountErr"></p>
            </div>
            <div class="form-group">
                <label for="userLimot">User Limits</label>
                <input type="number" class="form-control"  name="userLimit" id="userLimit" placeholder="user limits"  style="color: white;" required>
                <p style="color: red;" id="userLimitErr"></p>
            </div>
                  <!-- <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput1" class="image-label">
                      <div class="rounded-image-preview">
                        <img id="imagePreview1"
                          src="/images/product/orginal/Allen Solly 4.avif"
                          alt="Preview" />
                      </div>
                      <input name="image" type="file" accept="image/*" id="imageInput1" class="imageInput"  required >
                    </label>
                 </div> -->
            <br>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <!-- <button class="btn btn-dark">Cancel</button> -->
        </form>
      </div>
    </div>
  </div>
  <script src="/admin/js/formValidation.js"></script>


<%- include('../layout/admin/footer.ejs') -%>