<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="/admin/css/login.css">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="bg-img">
      <div class="content">
        <header>Login </header>
        <form action="login" method="post" id="form">

          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="email"  placeholder="Email " id="email" name="email" >
          </div>
          <div class="error-msg"><p id="emailError"></p></div>

          <div class="field-container">
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="password" class="pass-key" placeholder="Password" name="password" id="password" required>
                <span class="show">SHOW</span>
            </div>
            <div class="error-msg">
                <p id="passwordLengthError"></p>
            </div>
        </div>
        
        <div class="pass">
            <a href="#">Forgot Password?</a>
        </div>
        

          <div class="field space">
            <input type="submit" value="Login">
          </div>
         
        </form>

        <div >
            <% if (typeof error !== 'undefined') { %>
              <p style="color: red;"><%= error %></p>
            <% } %>
              
          </div>
      </div>
    </div>

    <script>
      const pass_field = document.querySelector('.pass-key');
      const showBtn = document.querySelector('.show');
      showBtn.addEventListener('click', function(){
       if(pass_field.type === "password"){
         pass_field.type = "text";
         showBtn.textContent = "HIDE";
         showBtn.style.color = "#3498db";
       }else{
         pass_field.type = "password";
         showBtn.textContent = "SHOW";
         showBtn.style.color = "#222";
       }
      });
    </script>
    <script src="/admin/js/login.js"></script>

  </body>
</html>
