.image-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.image-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.imageInput {
  display: none;
}

.rounded-image-preview {
  width: 200px;
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  /* background-color: #0068a7; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-label::before {
  content: "Click to upload image";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


/* product show  */
.product-img-preview {
  width: 100px;
  height: 100px;
}

.logo-text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 25px;
  padding-top: 12px;

}

.text-center {
  text-align: center;
}

.swal2-popup {
  background-color: #191c24;
  /* Replace with your desired background color */
}

/* Add this CSS to your stylesheet */
.popCate {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.popCate-content {
  background-color: #191c24;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .popCate-content {
    width: 90%;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}