/* to decrease the size of the image in edit product page */
/* .img-small {
    max-width: 150px;
    max-height: 150px;
}
 */



 /* add product image preview */
.image-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .image-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .imageInput {
    display: none;
  }
  
  .rounded-image-preview {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    /* background-color: #0068a7; */
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-label::before {
    content: "Click to upload image";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  
  /* product show  */
  .product-img-preview{
    width: 100px;
    height: 100px;
  }

  .logo-text{
    font-size: 20px;
    color:white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 25px;
    padding-top: 12px;
    
}
