
<%- include('../layout/user/header.ejs') -%>

<main class="main">
    <div class="container">
        <div style="width: 100%; height: 110px; background-color: white;"></div>
        <!-- Add address form start -->
        <div class="tab-pane "  >
            <h3>Add Address</h1>
            <form action="/addAddress" id="form" method="post">
                <label>Full name *</label>
                <input type="text" class="form-control" name="name" id="name" required>
                <p style="color: red;" id="nameLengthError"></p>
                <div class="row">                                       
                    <div class="col-sm-6">
                        <label>Email *</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                        <p style="color: red;" id="emailError"></p>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>Mobile *</label>
                        <input type="number" class="form-control" name="mobile" id="mobile" autocomplete="off" required>
                        <p style="color: red;" id="mobileLngthErrror"></p>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>State *</label>
                        <input type="text" class="form-control" name="state" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>City *</label>
                        <input type="text" class="form-control" name="city" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>Pincode *</label>
                        <input type="number" class="form-control" name="pincode"  id="pincode" autocomplete="off" required>
                        <p style="color: red;" id="pincodeLngthErrror"></p>
                    </div><!-- End .col-sm-6 -->
                                          
                    <div class="col-sm-6">
                        <label>House name *</label>
                        <input type="text" class="form-control" name="house" required>
                    </div><!-- End .col-sm-6 -->                                         
                </div><!-- End .row -->                                   

                <button type="submit" class="btn btn-outline-primary-2">
                    <span>Add Address</span>
                    <i class="icon-long-arrow-right"></i>
                </button>
            </form>
        </div><!-- Add address form end -->
            <div style="width: 100%; height: 110px; background-color: white;"></div>
    </div><!-- End .container -->
</main><!-- End .main -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nameInput = document.getElementById("name");
        const nameLengthError = document.getElementById('nameLengthError')
        const emailInput = document.getElementById("email");
        const emailError = document.getElementById("emailError");
        const mobile = document.getElementById('mobile')
        const mobileLngthErrror = document.getElementById('mobileLngthErrror')
        const pincode = document.getElementById('pincode')
        const pincodeLngthErrror = document.getElementById('pincodeLngthErrror')
        const emailPattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        document.getElementById("form").addEventListener("submit", function (event) {
            if (emailInput.value.trim() === "") {
            emailError.textContent = "Email is required.";
            event.preventDefault();
            } else if (!emailPattern.test(emailInput.value)) {
                emailError.textContent = "Invalid email format.";
                event.preventDefault();
            } else {
                emailError.textContent = "";
            }
            if (mobile.value.length < 10) {
                mobileLngthErrror.textContent = "Mobile number must be at least 10 digits"
                event.preventDefault()
            } else {
                mobileLngthErrror.textContent = ""
            }
            if (nameInput.value.length < 4) {
                nameLengthError.textContent = "User name  must be at least 4 characters"
                event.preventDefault()
            } else {
                nameLengthError.textContent = ""
            }
            if (pincode.value.length != 6) {
                pincodeLngthErrror.textContent = "Type a  6 digit Pincode"
                event.preventDefault()
            }
             else {
                pincodeLngthErrror.textContent = ""
            }
        });
    });
</script>
<%- include('../layout/user/footer.ejs') -%>
