
<%- include('../layout/user/header.ejs') -%>

<main class="main">
    <div class="container">
        <div style="width: 100%; height: 110px; background-color: white;"></div>
        <!-- Add address form start -->
        <div class="tab-pane "  >
            <h3>Add Address</h1>
            <form action="/addAddress" method="post">
                <label>Full name *</label>
                <input type="text" class="form-control" name="name" required>
                <div class="row">                                       
                    <div class="col-sm-6">
                        <label>Email *</label>
                        <input type="email" class="form-control" name="email" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>Mobile *</label>
                        <input type="number" class="form-control" name="mobile" autocomplete="off" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>State *</label>
                        <input type="text" class="form-control" name="state" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>City *</label>
                        <input type="text" class="form-control" name="city" required>
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <label>Pincode *</label>
                        <input type="number" class="form-control" name="pincode" autocomplete="off" required>
                    </div><!-- End .col-sm-6 -->
                                          
                    <div class="col-sm-6">
                        <label>House name *</label>
                        <input type="text" class="form-control" name="house" required>
                    </div><!-- End .col-sm-6 -->                                         
                </div><!-- End .row -->                                   

                <button type="submit" class="btn btn-outline-primary-2">
                    <span>Add Address</span>
                    <i class="icon-long-arrow-right"></i>
                </button>
            </form>
        </div><!-- Add address form end -->
            <div style="width: 100%; height: 110px; background-color: white;"></div>
    </div><!-- End .container -->
</main><!-- End .main -->

<%- include('../layout/user/footer.ejs') -%>
