<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="user/css/signUp.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="bg-img">
  <div class="content">
    <header>Change Password</header>
    <form action="changePassword" method="post" id="form">
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="password" class="pass-key" placeholder="New Password" name="newpswd" id="password" required>
        <span class="show">SHOW</span>
      </div>
      <div class="error-msg"><p id="passwordLengthError"></p></div>

      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="password" class="pass-key" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required>
        <span class="show">SHOW</span>
      </div>
      <div class="error-msg"><p id="confirmpasswordError"></p></div>

      <div class="field space">
        <input type="submit" value="Confirm">
      </div>
    </form>
    <div>
      <% if (typeof error !== 'undefined') { %>
      <p style="color: red;"><%= error %></p>
      <% } %>
    </div>
  </div>
</div>

<script>
  const passField = document.querySelector('.pass-key');
  const showBtn = document.querySelector('.show');
  const passwordLengthError = document.getElementById('passwordLengthError');
  const confirmPassField = document.getElementById('confirmpassword');
  const confirmPassError = document.getElementById('confirmpasswordError');
  const form = document.getElementById('form');

  showBtn.addEventListener('click', function () {
    if (passField.type === 'password') {
      passField.type = 'text';
      showBtn.textContent = 'HIDE';
      showBtn.style.color = '#3498db';
    } else {
      passField.type = 'password';
      showBtn.textContent = 'SHOW';
      showBtn.style.color = '#222';
    }
  });

  form.addEventListener('submit', function (event) {
    const newPassword = passField.value;
    const confirmPassword = confirmPassField.value;

    if (newPassword.length < 8) {
      passwordLengthError.textContent = 'Password must be at least 8 characters long.';
      event.preventDefault();
    } else {
      passwordLengthError.textContent = ''; 
    }

    if (newPassword !== confirmPassword) {
      confirmPassError.textContent = 'Passwords do not match.';
      event.preventDefault(); 
    } else {
      confirmPassError.textContent = ''; 
    }
  });
</script>
</body>
</html>
