<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="user/css/signUp.css">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="bg-img">
      <div class="content">
        <div class="animation-container">
          <span class="letter">W</span>
          <span class="letter">e</span>
          <span class="letter">l</span>
          <span class="letter">c</span>
          <span class="letter">o</span>
          <span class="letter">m</span>
          <span class="letter">e</span>
        </div>
        <div class="animation-login">
          <span class="letter2">l</span>
          <span class="letter2">o</span>
          <span class="letter2">g</span>
          <span class="letter2">i</span>
          <span class="letter2">n</span>
        </div>
        <header id="hdLogin" style="display: none;">Login </header>
        <form action="login" method="post" id="form">

          <div class="field space">
            <span class="fa fa-user"></span>
            <input type="email"  placeholder="Email " id="email" name="email" >
          </div>
          <div class="error-msg"><p id="emailError"></p></div>

          <div class="field-container">
            <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="password" class="pass-key" placeholder="Password" name="password" id="password" required>
                <span class="show">SHOW</span>
            </div>
            <div class="error-msg">
                <p id="passwordLengthError"></p>
            </div>
        </div>
        
        <div class="pass">
            <a href="forgotPassword">Forgot Password?</a>
        </div>
        

          <div class="field space">
            <input type="submit" value="Login">
          </div>
         
        </form>

        <div class="signup">New to Fashion Arclight?
          <a href="signUp">SignUp</a>
        </div>
        <div >
            <% if (typeof error !== 'undefined') { %>
              <p style="color: red;"><%= error %></p>
            <% } %>
              
          </div>
      </div>
    </div>

    <script>
      const pass_field = document.querySelector('.pass-key');
      const showBtn = document.querySelector('.show');
      showBtn.addEventListener('click', function(){
       if(pass_field.type === "password"){
         pass_field.type = "text";
         showBtn.textContent = "HIDE";
         showBtn.style.color = "#3498db";
       }else{
         pass_field.type = "password";
         showBtn.textContent = "SHOW";
         showBtn.style.color = "#222";
       }
      });
    </script>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
    const animationContainer = document.querySelector('.animation-container');
    const animationLogin = document.querySelector('.animation-login');
    const loginLetter = document.querySelectorAll('.letter2');
    const letters = document.querySelectorAll('.letter');
    
    letters.forEach((letter, index) => {
      setTimeout(() => {
        letter.style.animationDelay = `${index * 0.1}s`;
      }, 0);
    });

    setTimeout(() => {
      animationContainer.style.display = 'none';

      loginLetter.forEach((letter, index) => {
        setTimeout(() => {
          letter.style.display = 'inline-block';
          letter.style.animationDelay = `${index * 0.1}s`;
        }, 0);
      });
    }, 3000);

  });

    </script>
    <script src="user/js/login.js"></script>

  </body>
</html>
