
<div class="row">
        <div class="col-lg-6">
            <div class="card card-dashboard">
                <div class="card-body">
                    <h3 class="card-title">Address </h3>
                    <p>Name:sinan<br>
                    Email: sinan.m.p@gimal,come<br>
                    Mobile: 7736930520<br>
                    State: Delivered<br>
                    City: chundampatta<br>
                    House Name: Madayiparambilhouse<br>
                    Pincode: 679337<br>
                    <a href="/editAddress" >Edit <i class="icon-edit"></i></a>
                    <a href="/deleteAddress" style="margin-left: 15px;" >Delete <i class="icon-delete"></i></a>

                </div>
            </div>
        </div>
</div>
